<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Restaurant Catalogue">
    <meta name="theme-color" content="#435585">
    <link rel="apple-touch-icon" href="/src/public/icons/192x192.png">
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="manifest" href="./app.webmanifest">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#main-title" class="skip-link">Menuju ke konten</a>
    <header>
      <nav class="nav-bar" id="drawer">
        <div class="titleBar">
          <h4>Hunger App</h4>
        </div>

        <div class="nav-list" id="navigationDrawer">

          <div class="list-link">

            <div class="hamburg-menu">
              <a href="#" id="hamburger">☰</a>
            </div>

            <ul id="list">
              <li><a href="#/home">Home</a></li>
              <li><a href="#/like">Favorite</a></li>
              <li><a href="https://linkedin.com/in/auliasalsabila11">About Us</a></li>
            </ul>
          </div>
          
          
        </div>
      </nav>
    </header>

    <main id="mainContent" tabindex="0">
      
    </main>

    <footer>
      <h4>Copyright 2023 - Hunger Apps</h4>
    </footer>
  </body>
</html>
